%p#notice= notice

%p
  %b Category:
  = category.name
%p
  %h3 New product
  = render 'products/form'

%p
  - category.products.each do |product|
    %strong= product.title
    = product.description
    = product.price

= link_to 'Edit', edit_category_path(category)
\|
= link_to 'Back', categories_path, class: 'btn btn-primary'
