.container-fluid.main-bg.full-screen
.container
  .col-md-12.no-box
    %p#notice= notice
    .row
      .col-md-9
        %h1= category.name

        .row.text-center
          - category.products.each do |product|
            .col-md-3.hero-feature
              .thumbnail
                =link_to category_product_path(product.category, product) do
                  -if product.product_image
                    = image_tag attachment_url(product, :product_image, :fill, 300, 300, format: "jpg")
                  -else
                    = image_tag 'blank.jpg'
                .caption
                  %h3= product.title
                  %p= product.description
                  %p.price= product.price
                  %p= link_to 'Check now!', category_product_path(product.category, product), class: 'btn btn-primary'
      .col-md-3
        - if user_signed_in?
          %h1 New product
          = render 'products/form'
        - else
          %h3= link_to 'Log in to add new awesome product!', new_user_session_path, class: 'btn btn-success'


    .row
      - if user_signed_in?
        = link_to 'Edit', edit_category_path(category), class: 'btn btn-warning'
      = link_to 'Back', categories_path, class: 'btn btn-primary'
