%p#notice= notice
%p#error= flash[:error]

.row
  .col-md-3
    %p.lead 
      Other products in
      =@category.name
    .list-group
    - @products.each do |product|
      =link_to product.title, category_product_path(category,product), class: 'list-group-item'

  .col-md-9
    .row
      .col-md-6
        .thumbnail
          -if product.product_image
            = image_tag attachment_url(product, :product_image, :fill, 300, 300, format: "jpg"), class: 'img-responsive'
          -else
            = image_tag 'blank.jpg', class: 'img-responsive'
      .col-md-3
        .caption-full
          %h2= product.title
          %h3.price= product.price
    .row
      %h4 Description
      %p= product.description
    
    .row
      %h3 Reviews
      = render 'reviews/form'

      = render reviews

    = link_to 'Edit', edit_category_product_path(category.id, product.id)
    \|
    = link_to 'Back', category_products_path, class: 'btn btn-primary'
