%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar-collapse-right", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      #logo= link_to "#{AppConfig.workshops_name}", root_url
    #navbar-collapse-right.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Categories', categories_path, class: ("active" if controller?('categories'))
        - if user_signed_in?
          %li= link_to 'Your profile', current_user, class: ("active" if controller?('users'))
          %li= link_to 'Logout', destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Login', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path